@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --Green: hsl(75, 94%, 57%);   
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);

    --regular: 400;
    --bold: 600;
    --bolder: 700;
    --lr-padding: clamp(1rem, 26.96629vw + -5.32022rem, 2.5rem);
    --tb-padding: clamp(0.75rem, 22.47191vw + -4.51685rem, 2rem);
    --fs-14: clamp(0.75rem, 2.24719vw + 0.22331rem, 0.875rem);
    --fs-24: clamp(1.25rem, 4.49438vw + 0.19663rem, 1.5rem);
    --img-width: clamp(5rem, 8.98876vw + 2.89326rem, 5.5rem)
}   

/* SIMPLE CSS RESET */
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
   line-height: 150%;
}

/* BODY */
body {
    background-color: var(--Off-Black);
    height: 100vh;
    padding: var(--tb-padding) var(--lr-padding);

    display: flex;
    flex-direction: column;

    font-family: "Inter", serif;
    font-size: var(--fs-14);
    font-weight: var(--regular);
    text-align: center;
    color: var(--White);
}

main {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background-color: var(--Dark-Grey);
    border-radius: 8px;
    max-width: 384px;
    width: 100%;
    max-height: 100%;

    padding: var(--lr-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card > img:first-child {
    width: var(--img-width);
    max-width: 88px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.card > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.card > div:nth-child(2) > h1{
    font-size: var(--fs-24);
    font-weight: var(--bold);
}

.card > div:nth-child(2) > p{
    color: var(--Green);
    font-weight: var(--bold);
}

.card > ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    align-self: stretch;
}

.card > ul li {
    border-radius: 10px;
    display: flex;
}

.card > ul li {
    display: flex;
}

.card > ul a {
    width: 100%;
    padding: 12px 0;
    background-color: var(--Grey);
    border-radius: 10px;
    text-decoration: none;

    color: var(--White);
    font-weight: var(--bold);
    text-align: center;
    transition: transform 0.05s ease-in, 
        background-color 0.1s ease-in-out;
}

.card > ul a:visited {
    color: var(--White);
}

.card > ul a:hover, 
.card > ul a:focus{
    color: var(--Grey);
    background-color: var(--Green);
}

.card > ul a:active {
    color: var(--Off-Black);
    transform: scale(0.95);
}

/* ATTRIBUTION */
.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
